/* Mobile first Courses Page */

body {
  background-color: beige;
  margin: auto;
  width: 100%;
  padding: 5px;
}

nav {
  background-color: lightblue;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

nav a {
  padding: 0 20px;
}

h1,
h2 {
  text-align: center;
  color: #388659;
}

p {
  color: #685044;
}

a {
  color: #4d9de0;
  text-decoration: none;
}

a:hover {
  color: #003c6b;
  font-weight: bold;
}

strong {
  color: #3a405a;
}

ul {
  list-style: none;
  padding-left: 0em;
}

li {
  border-bottom: 1px solid #003c6b;
  padding-bottom: 10px;
  margin-top: 10px;
}

.underline {
  text-decoration: underline;
}

.cat-photos {
  width: 150px;
  margin: 0 20px;
}

.photos {
  text-align: center;
}

.logo {
  display: block;
  margin: auto;
  width: 200px;
}

.courses {
  width: 100%;
  margin: auto;
}

.green {
  background-color: green;
}

/* break point for full size browsers */

@media screen and (min-width: 600px) {
  body {
    margin: auto;
    max-width: 900px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    display: flex;
    flex: 1 0 auto;
  }

  .course-link-term {
    min-width: 300px;
  }
}
